{# src/OC/PlatformBundle/Resources/view/Advert/view.html.twig #}

{% extends "@OCPlatform/layout.html.twig" %}

{% block title %}
    Lecture d'une annonce - {{ parent() }}
{% endblock %}

{% block ocplatform_body %}

    {# flash messages#}
    {% if app.flashes('notice') is defined %}
        {% for message in app.flashes('notice') %}
            <div style="background-color : #5eb5e0; width: 500px; height: 30px;">
                <span style="margin: 5px 5px 5px 5px;" class="glyphicon glyphicon-info-sign"></span>&nbsp; {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    {% if advert is defined %}

        <h2>{{ advert.title }}</h2>
        <i>Par {{ advert.author }}, le {{ advert.date|date('d/m/Y') }}</i>

        <div class="well">
            {{ advert.content }}
        </div>

        {% if advert.image is not null %}
            <img src="{{ asset('/uploads/images/' ~ advert.image.id ~ '.' ~ advert.image.extension) }}" alt="{{ advert.image.alt }}" />
        {% endif %}

        <p>
            <a href="{{ path('oc_platform_home') }}" class="btn btn-default">
                <i class="glyphicon glyphicon-chevron-left"></i>
                Retour à la liste
            </a>
            <a href="{{ path('oc_platform_edit', {'id': advert.id}) }}" class="btn btn-default">
                <i class="glyphicon glyphicon-edit"></i>
                Modifier l'annonce
            </a>
            <a href="{{ path('oc_platform_delete', {'id': advert.id}) }}" class="btn btn-danger">
                <i class="glyphicon glyphicon-trash"></i>
                Supprimer l'annonce
            </a>
        </p>

        {% if advertSkills is not null %}
            {{ "Compétences : "}}
            {% for advertSkill in advertSkills %}
                <p>- Nom : {{ advertSkill.skill.name }} - Niveau : {{ advertSkill.level }} </p>
            {% endfor %}
        {% endif %}

        {% if not advert.categories.empty %}
            {{ "Catégories : "}}
            {% for category in advert.categories %}
                {{ category.name }}{% if not loop.last %},{% endif %}
            {% endfor %}
        {% endif %}

        <p>Candidatures</p>
        {% if applications is not null %}
            {% for application in applications %}
                {{ "Candidature : %s"|format(application.id) }}
                <p>
                   {{ application.author }}
                   {{ application.content }}
                   {{ application.date|date("d/m/Y") }}
                </p>
            {% endfor %}
        {% endif %}

    {% endif %}

{% endblock %}