{# src/OC/PlatformBundle/Resources/views/Advert/index.html.twig #}

{% extends "@Core/layout.html.twig" %}

{% block title %}
    Accueil
{% endblock %}

{% block body %}

    {% if app.flashes('info') is defined %}
        {% for message in app.flashes('info') %}
            <div style="background-color : #5eb5e0; width: 500px; height: 30px;">
                <span style="margin: 5px 5px 5px 5px;" class="glyphicon glyphicon-info-sign"></span>&nbsp; {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    {% if totalNumberOfAdverts is defined %}
        <h2>{{ 'advert.nombre'|transchoice(totalNumberOfAdverts) }}</h2>
    {% endif %}

    <h2>Trois dernières annonces</h2>

    <ul>
        {% for advert in listAdverts %}
            <li>
                <a href="{{ path('oc_platform_view', {'id': advert.id}) }}">
                    {{ advert.title }}
                </a>
                par {{ advert.author }},
                le {{ advert.date|date('d/m/Y') }}
            </li>
        {% else %}
            <li>Pas (encore !) d'annonces</li>
        {% endfor %}
    </ul>

{% endblock %}